version: "3.8"

services:

  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - /home/ubuntu/data:/data/db

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "9000:8080"
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb://mongodb:27017/dd_db

  frontend:
    build: ./frontend
    container_name: nginx-frontend
    ports:
      - "80:80"
    depends_on:
      - backend


